version: 2.1

orbs:
  android: circleci/android@1.0.3

jobs:
  build-and-upload:
    executor:
      name: android/android-machine
    environment:
      release: android
      release_notes: "My release notes..."
      notify: false
    steps:

      - checkout

      - run:
          name: Assemble debug build
          command: |
            ./gradlew assembleDebug

      - run:
          name: upload to testapp.io
          command: |
            export INSTALL_DIR=/tmp
            curl -Ls https://github.com/testappio/cli/releases/latest/download/install | bash
            $INSTALL_DIR/ta-cli publish --api_token=$TESTAPP_API_TOKEN --app_id=$app_id --release=$release --apk=./app/build/outputs/apk/debug/app-debug.apk --release_notes=$release_notes --notify=$notify --source="Circle CI"

workflows:
  default: 
    jobs:
      - build-and-upload